<% title("Datafiles") %>

<h1>Datafiles</h1>

<div class="col-md-8 text-right">
  <%= link_to "New File", new_datafile_path, class: "btn btn-success" %>
</div>

<div class="col-md-8">
<table  class="table table-striped">
  <thead>
    <tr><th>Id</th><th>Name</th><th>Size</th><th>Checksum</th></tr>
  </thead>
  <tbody>
    <% @datafiles.each do |datafile| %>
    <tr>
      <td><%= datafile.id %></td><td><%= link_to datafile.name, datafile %></td><td><%= datafile.size %></td><td><%= datafile.checksum%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>