<% title("Overview") %>

<h1>Welcome to Filentory</h1>

#Datafiles: <%= @statistics.count %>
Total size: <%= @statistics.total %>
Minimum size: <%= @statistics.min %>
Maximum size: <%= @statistics.max %>
Average size: <%= @statistics.average %>